# Compiled class file
*.class

# Save file
.save
*.db

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# Eclipse files
.classpath
.project
.settings

# Gradle files
.gradle/
.gradletasknamecache
build/
bin/
gen/
local.properties

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store
/bin1/
